<div class='flex items-start justify-center w-full min-h-screen pt-[160px]'>
  <div class='w-full max-w-3xl p-6 bg-vazBeige-50 rounded-xl text-vazBlack-50'>
    <h1 class="text-2xl font-bold text-vazBlue-700">New project</h1>
    <%= form_with model: @project do |form| %>
      <div class='flex flex-col w-full gap-4 mt-4'>
        <div class='flex flex-row w-full space-x-4'>
          <%= form.label :title, class: 'text-vazBlack-50 font-semibold w-1/6' %>
          <%= form.text_field :title, class: 'w-full rounded-md' %>
        </div>
        <div class='flex flex-row w-full space-x-4'>
          <%= form.label :description, class: 'text-vazBlack-50 font-semibold w-1/6' %>
          <%= form.text_area :description, class: 'w-full rounded-md' %>
        </div>
        <div class='flex flex-row w-full space-x-4'>
          <%= form.label :order, class: 'text-vazBlack-50 font-semibold w-1/6' %>
          <%= form.number_field :order, class: 'w-full rounded-md' %>
        </div>
        <div class='flex flex-row w-full space-x-4'>
          <%= form.label :thumbnail, class: 'text-vazBlack-50 font-semibold w-1/6' %>
          <%= form.file_field :thumbnail %>
        </div>
        <div class='flex flex-row justify-end w-full'>
          <%= form.submit 'Save', class: button_styles %>
        </div>
      </div>
    <% end %>
  </div>
</div>
